<%= form_for @comment do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
  <%= f.label :comment_text %><br />
  <%= f.text_area :title, :size => "4x40" %>
  </div>
   <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>



